<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/styles.css">
    <title>{{.Title}}</title>
</head>
<body>
    <div class="container">
        <h1>{{.Title}}</h1>
        <div>
            {{ printf "%s" .Body }}
        </div>
        <div class="buttons">
            <a href="/edit/{{.Title}}" class="button button--primary">Editar</a>
            <a href="/" class="button button--warning">Ir al home</a>
        </div>
    </div>
</body>
</html>
