a.button,
.button{
  text-align: center;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  justify-content: center;
  line-height: 2;
  margin: 0.5em 0 0 0;
  padding: 0;
  text-decoration: none;
  width:100%;
  &:hover{
    color: #ffffff;
    text-decoration: none;
  }
  &--primary{
    background-color: $primary;
    transition: all .3s ease;
    &:hover,
    &:active,
    &.active{
      background-color: darken($primary, 5);
    }
  }
  &--warning{
    background-color: $warning;
    transition: all .3s ease;
    &:hover,
    &:active,
    &.active{
      background-color: darken($warning, 5);
    }
  }
}

.buttons{
  margin-top: 2em;
}
