*,
*::after,
*::before{
  box-sizing: border-box;
}
body {
  color: var(--color-1);
  display: flex;
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
}
form {
  margin: 0;
}
h1{
  color: var(--color-3);
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  line-height: 1;
  text-align: center;
}
html {
  font-size: 18px;
}
input, textarea{
  border: 1px solid var(--color-1);
  font-family: 'Oxygen', sans-serif;
  padding: 5px;
  width: 100%;
}
input{
  display: block;
  margin: 0.5em 0;
}
textarea{
  width: 100%;
  height: 20em;
  font-size: 1rem;
}
